<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Word Specifications</h5>
          <p>
            <strong>ID</strong>: {{word.id}}
          </p>
          <p>
            <strong>Word</strong>: {{word.word_itself}}
          </p>
          <p>
            <strong>Type:</strong>: <em>{{word.word_Type}}</em>
          </p>
          <p>   
            <strong>Definition:</strong> {{word.word_Definition}}
          </p>
          <p> 
            <strong>Example of Use:</strong> {{word.example_Use}}
          </p>
            <a href="/submit">← Add More Words</a>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
